@*
@{
    ViewData["Title"] = "Index";
}

<!-- START SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Recent Posts</h2>
                <p class="section-description">Laudantium ullam consequatur repellat debitis maxime.</p>
            </div>
            <div class="col-md-4">
                <div class="entry">
                    <div class="entry-media">
                        <a href="#" title="">
                            <span class="absolute-wrapper"></span>
                            <img src="~/assets/images/blog1.jpg" alt="" class="img-responsive" />
                        </a>
                    </div>
                    <h3 class="entry-title"><a href="#" title="Yelp Is Awful for Everyone Involved">Yelp Is Awful for Everyone Involved</a></h3>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
                </div><!--/.entry-->
            </div>
            <div class="col-md-4">
                <div class="entry">
                    <div class="entry-media">
                        <a href="#" title="">
                            <span class="absolute-wrapper"></span>
                            <img src="~/assets/images/blog2.jpg" alt="" class="img-responsive" />
                        </a>
                    </div>
                    <h3 class="entry-title"><a href="#" title="2 Best Sites to Build Your Own Website">2 Best Sites to Build Your Own Website</a></h3>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
                </div><!--/.entry-->
            </div>
            <div class="col-md-4">
                <div class="entry">
                    <div class="entry-media">
                        <a href="#" title="">
                            <span class="absolute-wrapper"></span>
                            <img src="~/assets/images/blog3.jpg" alt="" class="img-responsive" />
                        </a>
                    </div>
                    <h3 class="entry-title"><a href="#" title="2 Best Sites to Build Your Own Website">2 Best Sites to Build Your Own Website</a></h3>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <a href="#" title="Learn More" class="btn read-more btn-sm btn-primary">Learn More</a>
                </div><!--/.entry-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</div>
<!--/.section -->
*@